<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.caesar2011.numberpuzzles" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PuzzleListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PuzzleDetailActivity"
            android:label="@string/title_puzzle_detail"
            android:parentActivityName=".PuzzleListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PuzzleListActivity" />
        </activity>
    </application>

</manifest>
